@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Roboto&family=Rubik&display=swap');

.isNot {
  display: none;
}

.isAvailable {
  display: flex;
}

.question-header-cnt {
  padding-top: 56px;
}

.question-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

.question-txt-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-ans-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.question-header {
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}

.question-para {
  font-family: 'Rubik', sans-serif;
}

.question-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.question-btn-cnt {
  border-bottom: 1px solid grey;
}

.ans-para {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: hsl(229, 8%, 60%);
}

.question-txt-cnt {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
