@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&family=Roboto&family=Rubik&display=swap');

.intro-cnt {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px 0px 60px;
}

.intro-sub-cnt {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 75px;
}

.intro-btn-cnt {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.intro-btn {
  width: 147px;
  height: 49px;
  background-color: transparent;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

.intro-btn:hover {
  color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
}
